<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <consoleSettings consoleBackgroundColor="efefef" consoleNewLineAfterBytes="0" consoleNewLineAfterPause="0" consoleNewLineAt="10" consoleReceiveColor="000000" consoleScript="/home/dustin/Important/Robotics/ScriptCommunicator_03_03_linux_64_bit/exampleScripts/CustomLogConsoleScripts/CustomConsole_Table/CustomConsole_Table.js" consoleSendColor="7c0000" consoleSendOnEnter="&#10;" consoleShowCustomConsole="0" consoleTimestampFormat="&#10;hh:mm:ss.zzz&#10;" generateTimeStampsInConsole="0" lockScrollingInConsole="0" logNewLineAt="10" maxCharsInConsole="100000" showAsciiInConsole="1" showBinaryConsole="0" showCanMetaInformationInConsole="1" showCanTab="0" showDecimalInConsole="0" showHexInConsole="0" showMixedConsole="0" showReceivedDataInConsole="1" showSendDataInConsole="1" stringConsoleFont="DejaVu Sans" stringConsoleFontSize="10" timeStampIntervalConsole="100" updateIntervalConsole="200"/>
  <logSettings customLogFileName="" generateTimeStampsInLog="0" htmlLogFile="0" htmlLogFileName="" logGenerateCustomLog="0" logNewLineAfterBytes="0" logNewLineAfterPause="0" logScript="/home/dustin/Important/Robotics/ScriptCommunicator_03_03_linux_64_bit/exampleScripts/CustomLogConsoleScripts/CustomConsole_Table/CustomConsole_Table.js" logTimestampFormat="&#10;hh:mm:ss.zzz&#10;" stringHtmlLogFont="DejaVu Sans" stringHtmlLogFontSize="10" textLogFile="0" textLogFileName="" timeStampIntervalLog="100" writeAsciiInToLog="1" writeBinaryInToLog="0" writeCanMetaInformationInToLog="1" writeDecimalInToLog="0" writeHexInToLog="0" writeReceivedDataInToLog="1" writeSendDataInToLog="1"/>
  <serialPortSetting baudRate="115200" dataBits="8" flowControl="None" name="ttyACM0" parity="None" setDTR="1" setRTS="1" stopBits="1"/>
  <socketSetting adress="" connectionType="0" ownPort="0" partnerPort="0" socketType="Tcp client"/>
  <cheetahSpiSetting baudRate="12000" chipSelect="1" mode="0" port="0"/>
  <pcanSetting baudRate="0" busOffAutoReset="1" channel="0" filterExtended="1" filterFrom="00000000" filterTo="1FFFFFFF" powerSupply="0"/>
  <sendWindow cyclicAreaSplitter="48:48" cyclicScript="/home/dustin/Important/Robotics/ScriptCommunicator_03_03_linux_64_bit/exampleScripts/SequenceScripts/sequenceSendScript.js" interactiveConsoleCheckBox="1" isConnected="0" sendString="00 01 02 03 04 05 06 07 08" sendStringFormat="hex" sendStringPause="0" sendStringRepetition="0" sequenceFileName="/home/dustin/Important/Robotics/STM32/STM32/Measons/scriptcommunicator/sequences.xml" windowSplitter="13:13"/>
  <mainWindowPositionAndSize height="1056" left="1920" splitterSizes="1589:305" toolBoxIndex="1" top="0" width="1920"/>
  <sendWindowPositionAndSize height="732" left="1103" top="157" visible="0" width="631"/>
  <settingsDialogPositionAndSize height="454" left="1000" top="104" visible="0" width="570"/>
  <scriptWindowPositionAndSize height="531" left="1124" top="131" visible="0" width="695"/>
  <scriptWindow scriptConfigFileName="/home/dustin/Documents/ScriptCommunicator_3_03/inititalScripts.xml" scriptEditorPath="" splitterSize1="13" splitterSize2="13"/>
</settings>
